# Chave secreta da aplicação (Gere uma chave única para produção)
SECRET_KEY=django-insecure-sua-chave-secreta-aqui

# Modo de Depuração (Defina como False em produção)
DEBUG=True

# Hosts Permitidos e Origens Confiáveis CSRF (separados por vírgula)
ALLOWED_HOSTS=127.0.0.1,localhost
CSRF_TRUSTED_ORIGINS=http://127.0.0.1:8000,http://localhost:8000

# URL de Conexão com o Banco de Dados (PostgreSQL, MySQL, SQLite, etc.)
# Exemplos:
# SQLite: postgresql / mysql / sqlite
# DATABASE_URL=postgres://usuario:senha@localhost:5432/nome_do_banco
# DATABASE_URL=mysql://usuario:senha@localhost:3306/nome_do_banco
DATABASE_URL=sqlite:///db.sqlite3
